.Section {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Section > p {
  color: #124d51;
  font-size: 20px;
  margin-top: 25px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .Section {
    width: 90%;
  }
}
.Section > div {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #e0dfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 70px;
  margin-top: 80px;
  cursor: pointer;
}
