.Footer {
  background-color: #124d51;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media screen and (max-width: 800px) {
  .Footer {
    height: 40vh;
  }
}
.FooterContent {
  width: 70%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .FooterContent {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
}
.FooterContent a {
  color: #fff;
  text-decoration: none;
}
.FooterContent .heading {
  margin-bottom: 12px;
  opacity: 0.9;
}
.FooterContent > .socialHandles > a {
  margin-right: 15px;
  font-size: 18px;
}
